<div class="hero section">
    <ng-include src="'partials/header.html'"></ng-include>

    <div class="location row">
        <h2><label for="location">Where are you?</label></h2>
        <div class="six columns offset-by-three">
            <input type="text" id="location" class="u-full-width" value="" ng-model="location" readonly>
            <button class="button-primary" ng-click="openLocationDialog()">Change Location</button>
        </div>
    </div>
</div>

<nav id="page-nav" class="row section" ng-if="recallMetadata">
    <ul class="list-unstyled list-inline">
        <li><a href="" class="button" scroll-to="recalls">Product Recalls</a></li>
        <li><a href="" class="button" scroll-to="markets">Local Farmer Markets</a></li>
    </ul>
</nav>

<ng-include src="'partials/recalls.html'"></ng-include>
<ng-include src="'partials/markets.html'"></ng-include>
