<section id="markets" class="markets row section" aria-live="polite" ng-if="recallMetadata">
    <h2>Local Farmer's Markets</h2>
    <ul class="list-unstyled" ng-if="markets">
        <li ng-repeat="market in markets" class="row">
            <span class="eight columns name">{{market.marketname}}</span>
            <span class="four columns distance"><abbr title="Estimated">Est.</abbr> {{market.distance}} miles</span>
        </li>
    </ul>

    <p ng-if="!markets">We were not able to find any markets in your area.</p>
</section>
