<section id="recalls" class="recalls row section" aria-live="polite" ng-if="recallMetadata">
    <h2>Recent food recalls in {{location}}</h2>
    <form ng-submit="applyFilters()">
        <h3 class="faux-legend">Narrow your results</h3>
        <div class="row">
            <div class="six columns">
                <label for="recallSearch">Search recall descriptions</label>
                <input type="search" id="recallSearch" class="u-full-width" value="" placeholder="e.g. ice cream, ACME Foods, etc&hellip;" name="recallSearch" ng-model="recallFilters.keywords">
            </div>
            <div class="six columns">
                <label for="recallAge">Recalls within (months)</label>
                <select id="recallAge" class="u-full-width" ng-model="recallFilters.age" ng-options="age.value as age.label for age in recallAgeOptions"></select>
            </div>
        </div>
        <button type="submit" class="button-primary">Apply</button>
        <button ng-click="resetFilters()" type="reset" class="">Reset</button>
    </form>

    <ul class="list-unstyled" ng-if="recallResults">
        <li ng-repeat="recall in recallResults | orderBy:'-recall_initiation_date'">
            <h3 class="description">{{recall.product_description | limitTo:70}}</h3>
            <dl class="horizontal">
                <dt class="date">Recall Date</dt>
                <dd class="date">{{recall.recall_initiation_date +'T000000Z' | date:'mediumDate'}}</dd>

                <dt class="date">Reason</dt>
                <dd class="date">{{recall.reason_for_recall}}</dd>

                <dt class="date">Code</dt>
                <dd class="date">{{recall.code_info}}</dd>
            </dl>
        </li>
    </ul>
    <p ng-if="recallMetadata.last_updated && recallResults"><small>The FDA recall data was last updated {{recallMetadata.last_updated | date:'mediumDate'}}</small></p>
    <div class="center-text" ng-if="! recallResults">Loading results...</div>
    <p ng-if="! recallMetadata.last_updated && recallResults.length === 0">No recalled foods were found in your area. Eat whatever you want!</p>
</section>
